In [1]:
import numpy as np

In [2]:
import pandas as pd

In [14]:
import matplotlib.pyplot as plt

In [11]:
energy_df = pd.read_csv("CASE1/data/ENEXIS.csv")

In [5]:
energy_df

,Unnamed: 0,street,zipcode_from,zipcode_to,city,num_connections,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,year
0,0,Sasdijk,4251AB,4251AB,WERKENDAM,16,4282.00,25.00,0.00,2010
1,1,Sasdijk,4251AC,4251AC,WERKENDAM,11,5113.00,10.00,0.00,2010
2,2,Sasdijk,4251AD,4251AD,WERKENDAM,30,4809.00,34.00,0.00,2010
3,3,Nieuweweg,4251AE,4251AG,WERKENDAM,21,5015.00,44.00,0.00,2010
4,4,Koppenhof,4251AH,4251AH,WERKENDAM,12,3074.00,22.00,0.00,2010
...,...,...,...,...,...,...,...,...,...,...
455918,124581,Jacob Tilbusscherweg,9998XB,9998XB,ROTTUM GN,21,7034.57,47.49,76.19,2019
455919,124582,Jan Boerweg,9998XC,9998XD,ROTTUM GN,20,2170.80,41.79,55.00,2019
455920,124583,Knolweg,9998XE,9999XG,ROTTUM GN,13,10193.92,51.67,100.00,2019
455921,124584,Stitswerderweg,9999XH,9999XJ,STITSWERD,16,6795.38,39.54,68.75,2019
455922,124585,Stiel,9999XK,9999XL,STITSWERD,21,2580.71,40.03,71.43,2019

In [13]:
energy_df.drop("Unnamed: 0", axis=1)

,street,zipcode_from,zipcode_to,city,num_connections,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,year
0,Sasdijk,4251AB,4251AB,WERKENDAM,16,4282.00,25.00,0.00,2010
1,Sasdijk,4251AC,4251AC,WERKENDAM,11,5113.00,10.00,0.00,2010
2,Sasdijk,4251AD,4251AD,WERKENDAM,30,4809.00,34.00,0.00,2010
3,Nieuweweg,4251AE,4251AG,WERKENDAM,21,5015.00,44.00,0.00,2010
4,Koppenhof,4251AH,4251AH,WERKENDAM,12,3074.00,22.00,0.00,2010
...,...,...,...,...,...,...,...,...,...
455918,Jacob Tilbusscherweg,9998XB,9998XB,ROTTUM GN,21,7034.57,47.49,76.19,2019
455919,Jan Boerweg,9998XC,9998XD,ROTTUM GN,20,2170.80,41.79,55.00,2019
455920,Knolweg,9998XE,9999XG,ROTTUM GN,13,10193.92,51.67,100.00,2019
455921,Stitswerderweg,9999XH,9999XJ,STITSWERD,16,6795.38,39.54,68.75,2019
455922,Stiel,9999XK,9999XL,STITSWERD,21,2580.71,40.03,71.43,2019